# Development
.github/
**/dist/
**/node_modules/
apps/server/.nyc_output/
apps/server/.env*
apps/server/coverage.lcov
apps/server/dist/
apps/server/test/
apps/docs/.vitepress/cache/
apps/docs/.vitepress/dist/
apps/web/dist/
apps/web/public/static/

# Data
apps/server/data/
apps/server/logs/
apps/server/public/uploads/
