# Development
.github/
/NOTES.md
**/.env*
**/dist/
**/node_modules/
/.turbo/
apps/server/coverage.lcov
apps/server/coverage/
apps/server/dist/
apps/server/test/
apps/tasks/
apps/ws-server/dist/
apps/worker/dist/
apps/judger/coverage/
apps/judger/dist/
apps/judger/test/
apps/docs/.vitepress/cache/
apps/docs/.vitepress/dist/
apps/web/dist/
apps/web/public/static/
/pm2.config.json

# Data
/.dev/
apps/server/data/
apps/server/logs/
apps/server/public/uploads/
