// But if you use css custom property, you can't use any
// stylus built-in function anymore
$primary-color = var(--oj-primary-color)

body
  font-size: 14px;

.loading
  animation: ani-demo-spin 1s linear infinite;

table
  width: 100%
  border-collapse: collapse
  border-spacing: 0

  tr
    border-bottom: 1px solid #ebeef5
    height: 40px
    line-height: 40px
    font-size: 14px

  th
    text-align: left;

  .ivu-btn
    vertical-align: baseline;
    color: $primary-color;
    padding: 0 1px;
    font-size: 14px;
  .ivu-btn:hover
    background-color: transparent;

a
  text-decoration: none

ul, li
  list-style-type: none

// Color of judge result
// Accepted
.ac
  color: red

.wa,
// Wrong Answer
.re,
// Runtime Error
.tle, .mle, .ole, .se
  color: #11b811

.ce
  color: #6633FF

.pe
  color: orange

.pd, .rj, .sk, .rp
  color: black
