@import "./bulma-0.4.1/sass/utilities/initial-variables.sass"

$primary: #7C4DFF

// 修改时 删去 !default
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", "Arial", sans-serif

$family-monospace: "source code pro", "Consolas", "Lucida Console", "Monaco", "Andale Mono", monospace

@import "./bulma-0.4.1/bulma.sass"
@import "./utils/nprogress.sass"

$pending: 0
$runnning: 1
$compile-error: 2
$accepted: 3

html
  font-size: 15px

.select
  select
    padding-right: 2em

.oj-hero
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: stretch
  .oj-head
    flex-grow: 0
  .oj-body
    flex-grow: 1
    padding-top: 2em
  .oj-foot
    flex-grow: 0
    .footer
      padding: 2rem 1.5rem

.textarea.code
  font-family: $family-monospace
  height: auto

code, pre
  font-family: $family-monospace

.contest-ranklist
  overflow: scroll

  td
    padding: 0.3em 0.4em
    vertical-align: middle
    &.is-first.is-success
      font-weight: bold
      background-color: $blue
      color: $white
    &.is-success
      font-weight: bold
      background-color: $green
      color: $white
    &.is-danger
      font-weight: bold
      color: $orange

.modal-content.code-modal
  max-width: 80vw
  width: 800px

.modal-content.sim-modal
  display: flex
  width: auto
  max-width: 85vw
  pre, div
    height: 100%


.notifications
  position: fixed
  z-index: 2000
  top: 5em
  right: 5em
  max-width: 30em
  .notification
    margin-top: 1em

div.split-line
  height: 7em

.notification.problem-meta
  cursor: move

.footer
  margin-top: 5em

// judges
@for $i from 0 through 11
  .is-judge-#{$i}
    font-weight: bold
    color: $blue

.is-judge-#{$accepted}
  color: $red

.is-judge-#{$compile-error}
  color: $purple

.is-judge-#{$pending}, .is-judge-#{$runnning}
  color: hsl(0, 0%, 21%)

.sim
  cursor: pointer

.is-contest-Scheduled
  color: $blue

.is-contest-Running
  color: $red

.is-reserved
  font-weight: bold
  color: $purple
