$pending: 0
$runnning: 1
$compile-error: 2
$accepted: 3

body
  font-size: 12

.oj-hero
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: stretch
  .oj-head
    flex-grow: 0
  .oj-body
    flex-grow: 1
  .oj-foot
    flex-grow: 0
    .footer
      padding: 2rem 1.5rem

.textarea.code
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
  height: auto

.contest-ranklist
  overflow: scroll

  td
    padding: 0.3em 0.4em
    vertical-align: middle
    &.is-first.is-success
      font-weight: bold
      background-color: hsl(217, 71%, 53%)
      color: white
    &.is-success
      font-weight: bold
      background-color: hsl(141, 71%, 48%)
      color: white
    &.is-danger
      font-weight: bold
      color: hsl(14, 100%, 53%)

.modal-content.code-modal
  max-width: 80vw
  width: 800px

.notifications
  position: fixed
  z-index: 2000
  top: 5em
  right: 5em
  max-width: 30em
  .notification
    margin-top: 1em

div.split-line
  height: 7em

.notification.problem-meta
  cursor: move

.footer
  margin-top: 5em

// judges
@for $i from 0 through 11
  .is-judge-#{$i}
    font-weight: bold
    color: hsl(217, 71%, 53%)

.is-judge-#{$accepted}
  color: hsl(348, 100%, 61%)

.is-judge-#{$compile-error}
  color: hsl(271, 100%, 71%)

.is-judge-#{$pending}, .is-judge-#{$runnning}
  color: hsl(0, 0%, 21%)
